@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string ignoreMult = HttpContext.Request.Query["ignoremult"].ToString();
    string ignoreDiv = HttpContext.Request.Query["ignorediv"].ToString();
    string max = HttpContext.Request.Query["max"].ToString();
    if (string.IsNullOrEmpty(max)) max = "" + 20;

    int maxInt = int.Parse(max);

    var factory = new MathFactory();
    var mathMulti = factory.GetMathWork(true, maxInt, ignoreMult is null ? null : ignoreMult);
    var mathDiv = factory.GetMathWork(false, maxInt, ignoreDiv is null ? null : ignoreDiv);
}

<head>
<meta charset="UTF-8" />
<style type="text/css">
    table, td, th {
        border: 80px solid white; font-size: 20px;
    }
    
</style>
  </head>

<div class="text-center">
    <h3 class="display-4">Welcome! Use max, ignoremult and ignorediv</h3>
</div>

<center>
    <table>
        <tr>
            <td>
                @for (var i = 0; i < 25; i++)
                {
                    <p>@mathMulti[i]</p>
                    <p>@mathDiv[i]</p>

                }
            </td>

            <td>
                @for (var i = 25; i < 50; i++)
                {
                    <p>@mathMulti[i]</p>
                    <p>@mathDiv[i]</p>
                }
            </td>

                        <td>
                @for (var i = 50; i < 75; i++)
                {
                    <p>@mathMulti[i]</p>
                    <p>@mathDiv[i]</p>

                }
            </td>

            <td>
                @for (var i = 75; i < 100; i++)
                {
                    <p>@mathMulti[i]</p>
                    <p>@mathDiv[i]</p>
                }
            </td>

        </tr>
    </table>

</center>